<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <webServices>
      <!--<soapExtensionTypes>
            <add type="NFe.Components.TraceSOAPMessage,NFe.Components" priority="1"/>
          </soapExtensionTypes>-->
    </webServices>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="api_binding">
          <security mode="Transport"/>
        </binding>
        <binding name="api_binding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://claudio-mg.notainteligente.com/api/action" binding="basicHttpBinding" bindingConfiguration="api_binding" contract="PClaudioMG.api_port" name="api_port"/>
    </client>
  </system.serviceModel>
</configuration>
