<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NFe.Components.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NFe.Components.Properties.Settings>
            <setting name="NFe_Components_br_gov_rs_erechim_nfse_www_h_NfseService_Homolog"
                serializeAs="String">
                <value>https://www.nfse.erechim.rs.gov.br:8182/NfseService_Homolog/NfseService_Homolog</value>
            </setting>
            <setting name="NFe_Components_br_gov_rs_erechim_nfse_www_p_NfseService"
                serializeAs="String">
                <value>https://www.nfse.erechim.rs.gov.br:8182/NfseService/NfseService</value>
            </setting>
            <setting name="NFe_Components_br_com_sigiss_testebauru_h_WebService_SigISS"
                serializeAs="String">
                <value>https://testebauru.sigiss.com.br:443/testebauru/ws/sigiss_ws.php</value>
            </setting>
            <setting name="NFe_Components_br_com_sigiss_bauru_p_WebService_SigISS"
                serializeAs="String">
                <value>https://bauru.sigiss.com.br:443/bauru/ws/sigiss_ws.php</value>
            </setting>
            <setting name="NFe_Components_br_com_sigiss_botucatu_p_WebService_SigISS"
                serializeAs="String">
                <value>https://botucatu.sigiss.com.br:443/botucatu/ws/sigiss_ws.php</value>
            </setting>
            <setting name="NFe_Components_br_net_taquarituba_fiorilli_p_IssWebWS"
                serializeAs="String">
                <value>http://localhost:5661/IssWeb-ejb/IssWebWS/IssWebWS</value>
            </setting>
            <setting name="NFe_Components_br_net_taquarituba_fiorilli_h_IssWebWS"
                serializeAs="String">
                <value>http://201.28.69.146:5663/IssWeb-ejb/IssWebWS/IssWebWS</value>
            </setting>
            <setting name="NFe_Components_br_gov_pr_londrina_iss_p_ModuloEmissorNFSe"
                serializeAs="String">
                <value>https://iss.londrina.pr.gov.br:443/ws/v1_02/sigiss_ws.php</value>
            </setting>
            <setting name="NFe_Components_br_gov_pr_londrina_testeiss_h_ModuloEmissorNFSe"
                serializeAs="String">
                <value>http://testeiss.londrina.pr.gov.br/ws/v1_02/sigiss_ws.php</value>
            </setting>
            <setting name="NFe_Components_br_com_sigiss_saogoncalo_p_WebService_SigISS"
                serializeAs="String">
                <value>https://saogoncalo.sigiss.com.br:443/saogoncalo/ws/sigiss_ws.php</value>
            </setting>
            <setting name="NFe_Components_br_com_sigiss_tremembe_p_WebService_SigISS"
                serializeAs="String">
                <value>https://tremembe.sigiss.com.br:443/tremembe/ws/sigiss_ws.php</value>
            </setting>
            <setting name="NFe_Components_br_com_sigiss_marilia_p_WebService_SigISS"
                serializeAs="String">
                <value>https://marilia.sigiss.com.br:443/marilia/ws/sigiss_ws.php</value>
            </setting>
            <setting name="NFe_Components_br_net_cosmorama_fiorilli_p_IssWebWS"
                serializeAs="String">
                <value>http://localhost:8080/IssWeb-ejb/IssWebWS/IssWebWS</value>
            </setting>
            <setting name="NFe_Components_br_gov_sp_piracicaba_sistemas_www_p_NfseService"
                serializeAs="String">
                <value>http://www.sistemas.piracicaba.sp.gov.br/semfi/simpliss/ws_nfse/nfseservice.svc</value>
            </setting>
            <setting name="NFe_Components_br_gov_sp_piracicaba_sistemas_www_h_NfseService"
                serializeAs="String">
                <value>http://187.45.245.217/ws_nfse/nfseservice.svc</value>
            </setting>
            <setting name="NFe_Components_br_com_etransparencia_nfe_varginha_p_ws_nfe"
                serializeAs="String">
                <value>https://nfe.etransparencia.com.br/mg.varginha/webservice/aws_nfe.aspx</value>
            </setting>
            <setting name="NFe_Components_br_com_etransparencia_nfehomologacao_varginha_h_ws_nfe"
                serializeAs="String">
                <value>https://nfehomologacao.etransparencia.com.br/mg.varginha/webservice/aws_nfe.aspx</value>
            </setting>
            <setting name="NFe_Components_br_com_etransparencia_nfe_p_ws_nfe"
                serializeAs="String">
                <value>https://nfe.etransparencia.com.br/mg.varginha/webservice/aws_nfe.aspx</value>
            </setting>
            <setting name="NFe_Components_br_com_etransparencia_nfehomologacao_h_ws_nfe"
                serializeAs="String">
                <value>https://nfehomologacao.etransparencia.com.br/mg.varginha/webservice/aws_nfe.aspx</value>
            </setting>
            <setting name="NFe_Components_br_com_rlz_saturno_santafedosul_h_Webservice_Prefeitura"
                serializeAs="String">
                <value>http://saturno.rlz.com.br:3080/amfphp/services/RLZ/webservice/santafedosul.php</value>
            </setting>
            <setting name="NFe_Components_br_com_rlz_ceiss_santafedosul_p_Webservice_Prefeitura"
                serializeAs="String">
                <value>http://ceiss.rlz.com.br/amfphp/services/RLZ/webservice/server.php</value>
            </setting>
        </NFe.Components.Properties.Settings>
    </applicationSettings>
</configuration>