<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NFe.Components.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NFe.Components.Properties.Settings>
            <setting name="NFe_Components_br_gov_rs_erechim_nfse_www_h_NfseService_Homolog"
                serializeAs="String">
                <value>https://www.nfse.erechim.rs.gov.br:8182/NfseService_Homolog/NfseService_Homolog</value>
            </setting>
            <setting name="NFe_Components_br_gov_rs_erechim_nfse_www_p_NfseService"
                serializeAs="String">
                <value>https://www.nfse.erechim.rs.gov.br:8182/NfseService/NfseService</value>
            </setting>
        </NFe.Components.Properties.Settings>
    </applicationSettings>
</configuration>