<?xml version="1.0" encoding="utf-8"?>
<Configuracoes>
  <Arquivo ID="35">
    <Nome>São Paulo</Nome>
    <UF>SP</UF>
    <ArqConfig>SP.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="41">
    <Nome>Paraná</Nome>
    <UF>PR</UF>
    <ArqConfig>PR.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="51">
    <Nome>Mato Grosso</Nome>
    <UF>MT</UF>
    <ArqConfig>MT.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="50">
    <Nome>Mato Grosso do Sul</Nome>
    <UF>MS</UF>
    <ArqConfig>MS.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="31">
    <Nome>Minas Gerais</Nome>
    <UF>MG</UF>
    <ArqConfig>MG.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="43">
    <Nome>Rio Grande do Sul</Nome>
    <UF>RS</UF>
    <ArqConfig>RS.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="33">
    <Nome>Rio de Janeiro</Nome>
    <UF>RJ</UF>
    <ArqConfig>RJ.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="13">
    <Nome>Amazonas</Nome>
    <UF>AM</UF>
    <ArqConfig>AM.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="29">
    <Nome>Bahia</Nome>
    <UF>BA</UF>
    <ArqConfig>BA.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="23">
    <Nome>Ceará</Nome>
    <UF>CE</UF>
    <ArqConfig>CE.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="52">
    <Nome>Goiás</Nome>
    <UF>GO</UF>
    <ArqConfig>GO.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="26">
    <Nome>Pernambuco</Nome>
    <UF>PR</UF>
    <ArqConfig>PE.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="15">
    <Nome>Pará</Nome>
    <UF>PA</UF>
    <ArqConfig>SVAN.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="12">
    <Nome>Acre</Nome>
    <UF>AC</UF>
    <ArqConfig>AC.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="27">
    <Nome>Alagoas</Nome>
    <UF>AL</UF>
    <ArqConfig>AL.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="16">
    <Nome>Amapá</Nome>
    <UF>AP</UF>
    <ArqConfig>AP.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="53">
    <Nome>Distrito Federal</Nome>
    <UF>DF</UF>
    <ArqConfig>DF.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="32">
    <Nome>Espírito Santo</Nome>
    <UF>ES</UF>
    <ArqConfig>ES.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="25">
    <Nome>Paraíba</Nome>
    <UF>PB</UF>
    <ArqConfig>PB.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="22">
    <Nome>Piauí</Nome>
    <UF>PI</UF>
    <ArqConfig>PI.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="24">
    <Nome>Rio Grande do Norte</Nome>
    <UF>RN</UF>
    <ArqConfig>RN.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="11">
    <Nome>Rondônia</Nome>
    <UF>RO</UF>
    <ArqConfig>RO.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="14">
    <Nome>Roraima</Nome>
    <UF>RR</UF>
    <ArqConfig>RR.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="42">
    <Nome>Santa Catarina</Nome>
    <UF>SC</UF>
    <ArqConfig>SC.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="28">
    <Nome>Sergipe</Nome>
    <UF>SE</UF>
    <ArqConfig>SE.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="17">
    <Nome>Tocantins</Nome>
    <UF>TO</UF>
    <ArqConfig>TO.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="21">
    <Nome>Maranhão</Nome>
    <UF>MA</UF>
    <ArqConfig>SVAN.xml</ArqConfig>
  </Arquivo>
  <Arquivo ID="91">
    <Nome>Ambiente Nacional</Nome>
    <UF>AN</UF>
    <ArqConfig>AN.xml</ArqConfig>
  </Arquivo>
</Configuracoes>