<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="uninfe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NfeRecepcaoSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NfeRecepcaoSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NfeStatusServicoSoap" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NfeStatusServicoSoap1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://hom.nfe.fazenda.gov.br/NfeRecepcao/NfeRecepcao.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfeRecepcaoSoap"
                contract="WSNfeRecepcao.NfeRecepcaoSoap" name="NfeRecepcaoSoap" />
            <endpoint address="https://hom.nfe.fazenda.gov.br/NFeStatusServico/NFeStatusServico.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfeStatusServicoSoap"
                contract="WSNfeConsultaStatus.NfeStatusServicoSoap" name="NfeStatusServicoSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <uninfe.Properties.Settings>
            <setting name="uninfe_wsRSPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/nfestatusservico/NfeStatusServico.asmx</value>
            </setting>
            <setting name="uninfe_wsRSHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/nferecepcao/NfeRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsRSPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/nferecepcao/NfeRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsRSHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/nferetrecepcao/NfeRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsRSPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/nferetrecepcao/NfeRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsMTHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsMTHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsMTHConsulta_NfeConsulta" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsMTHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsMTHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsMTHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/nfews/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsMTPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfe.sefaz.mt.gov.br/nfews/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsMTPConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfe.sefaz.mt.gov.br/nfews/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsMTPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfe.sefaz.mt.gov.br/nfews/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsMTPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.mt.gov.br/nfews/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsMTPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.mt.gov.br/nfews/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsMTPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfe.sefaz.mt.gov.br/nfews/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsRSHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/nfestatusservico/NfeStatusServico.asmx</value>
            </setting>
            <setting name="uninfe_wsMGHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsMGHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsMGHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsMGHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsMGHConsulta_NfeConsulta" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsMGHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsMGPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsMGPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsMGPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsMGPConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsMGPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsMGPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsRSHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/nfecancelamento/NfeCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsRSHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/nfeinutilizacao/NfeInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsRSHConsulta_NfeConsulta" serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/nfeconsulta/NfeConsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsRSPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/nfecancelamento/NfeCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsRSPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/nfeinutilizacao/NfeInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsRSPConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/nfeconsulta/NfeConsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsPRHCancelamento_NfeCancelamentoService"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeCancelamentoNF</value>
            </setting>
            <setting name="uninfe_wsPRHInutilizacao_NfeInutilizacaoService"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeInutilizacaoNF</value>
            </setting>
            <setting name="uninfe_wsPRHConsulta_NfeConsultaService" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeConsultaNF</value>
            </setting>
            <setting name="uninfe_wsPRPCancelamento_NfeCancelamentoService"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeCancelamentoNF</value>
            </setting>
            <setting name="uninfe_wsPRPConsulta_NfeConsultaService" serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeConsultaNF</value>
            </setting>
            <setting name="uninfe_wsPRPInutilizacao_NfeInutilizacaoService"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeInutilizacaoNF</value>
            </setting>
            <setting name="uninfe_wsPRPRecepcao_NfeRecepcaoLoteService" serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsPRPRetRecepcao_NfeRetRecepcaoService"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsPRPStatusServico_NfeStatusServicoService"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeStatusServicoNF</value>
            </setting>
            <setting name="uninfe_wsSPPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nferecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsSPPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfecancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsSPPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfeinutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsSPPConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfeconsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsSPPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfestatusservico.asmx</value>
            </setting>
            <setting name="uninfe_wsSPPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nferetrecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsSPHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/nfecancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsSPHConsulta_NfeConsulta" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/nfeconsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsSPHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/nfeinutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsSPHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/nferetrecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsSPHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/nfestatusservico.asmx</value>
            </setting>
            <setting name="uninfe_wsSPHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/nferecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsVRPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/nfestatusservico/NfeStatusServico.asmx</value>
            </setting>
            <setting name="uninfe_wsVRHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/nfestatusservico/NfeStatusServico.asmx</value>
            </setting>
            <setting name="uninfe_wsVRHConsulta_NfeConsulta" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/nfeconsulta/NfeConsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsVRHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/nfecancelamento/NfeCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsVRHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/nfeinutilizacao/NfeInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsVRHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/nferecepcao/NfeRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsVRHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/nferetrecepcao/NfeRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsVRPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/nfecancelamento/NfeCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsVRPConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/nfeconsulta/NfeConsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsVRPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/nfeinutilizacao/NfeInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsVRPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/nferecepcao/NfeRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsVRPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/nferetrecepcao/NfeRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsVNHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/NfeRecepcao/NfeRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsVNHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/NFeRetRecepcao/NFeRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsVNHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/NFeCancelamento/NFeCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsVNHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/NFeInutilizacao/NFeInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsVNHConsulta_NfeConsulta" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/nfeconsulta/nfeconsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsVNHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/NFeStatusServico/NFeStatusServico.asmx</value>
            </setting>
            <setting name="uninfe_wsVNPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NfeRecepcao/NfeRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsVNPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeRetRecepcao/NFeRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsVNPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeCancelamento/NFeCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsVNPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeInutilizacao/NFeInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsVNPConsulta_NfeConsulta" serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/nfeconsulta/nfeconsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsVNPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeStatusServico/NFeStatusServico.asmx</value>
            </setting>
            <setting name="uninfe_wsMSHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsMSHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsMSHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsMSHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsMSHConsulta_NfeConsulta" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsMSHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://homologacao.nfe.ms.gov.br/homologacao/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsMSPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://producao.nfe.ms.gov.br/producao/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsMSPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://producao.nfe.ms.gov.br/producao/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsMSPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://producao.nfe.ms.gov.br/producao/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsMSPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://producao.nfe.ms.gov.br/producao/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsMSPConsulta_NfeConsulta" serializeAs="String">
                <value>https://producao.nfe.ms.gov.br/producao/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsMSPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://producao.nfe.ms.gov.br/producao/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsGOHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsGOHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsGOHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsGOHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsGOHConsulta_NfeConsulta" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsGOHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsGOPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.go.gov.br/nfe/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsGOPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.go.gov.br/nfe/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsGOPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfe.sefaz.go.gov.br/nfe/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsGOPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfe.sefaz.go.gov.br/nfe/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsGOPConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfe.sefaz.go.gov.br/nfe/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsGOPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfe.sefaz.go.gov.br/nfe/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsPRHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsPRHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeStatusServicoNF</value>
            </setting>
            <setting name="uninfe_wsCEHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br:443/nfe/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsCEHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br:443/nfe/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsCEHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br:443/nfe/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsCEHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br:443/nfe/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsCEHConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br:443/nfe/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsCEHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br:443/nfe/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsCEPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.ce.gov.br:443/nfe/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsCEPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.ce.gov.br:443/nfe/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsCEPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfe.sefaz.ce.gov.br:443/nfe/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsCEPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfe.sefaz.ce.gov.br:443/nfe/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsCEPConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfe.sefaz.ce.gov.br:443/nfe/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsCEPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfe.sefaz.ce.gov.br:443/nfe/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_br_gov_ba_sefaz_hnfe_NfeStatusServico"
                serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfe/NfeStatusServico.asmx</value>
            </setting>
            <setting name="uninfe_br_gov_ba_sefaz_hnfe1_NfeRecepcao" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfe/NfeRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsBAHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfe/NfeRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsBAHConsulta_NfeConsulta" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfe/NfeConsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsBAHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfe/NfeCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsBAHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfe/NfeInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsBAPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfe/NfeStatusServico.asmx</value>
            </setting>
            <setting name="uninfe_wsBAPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfe/NfeRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsBAPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfe/NfeRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsBAPConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfe/NfeConsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsBAPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfe/NfeCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsBAPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfe/NfeInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsPRHRetRecepcao_NfeRetRecepcaoService"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsSCANRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeRecepcao/NfeRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsSCANRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeRetRecepcao/NfeRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsSCANCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeCancelamento/NfeCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsSCANInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeInutilizacao/NfeInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsSCANConsulta_NfeConsulta" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeConsulta/NfeConsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsSCANStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeStatusServico/NfeStatusServico.asmx</value>
            </setting>
            <setting name="uninfe_wsPEPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.pe.gov.br/nfe-service/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsPEPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.pe.gov.br/nfe-service/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsPEPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfe.sefaz.pe.gov.br/nfe-service/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsPEPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfe.sefaz.pe.gov.br/nfe-service/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsPEPConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfe.sefaz.pe.gov.br/nfe-service/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsPEHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsPEHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsPEHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsPEHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsPEHConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsPEHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsPEPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfe.sefaz.pe.gov.br/nfe-service/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsROPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/wsprod/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsROPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/wsprod/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsROPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/wsprod/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsROPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/wsprod/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsROPConsulta_NfeConsulta" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/wsprod/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsROPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/wsprod/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsROHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/ws/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsROHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/ws/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsROHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/ws/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsROHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/ws/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsROHConsulta_NfeConsulta" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/ws/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsROHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/ws/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsSCANPNfeRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NfeRecepcao/NfeRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsSCANPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NfeRetRecepcao/NfeRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsSCANPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NfeCancelamento/NfeCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsSCANPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NfeInutilizacao/NfeInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsSCANPConsulta_NfeConsulta" serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NfeConsulta/NfeConsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsSCANPStatusServico_NfeStatusServico"
                serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NfeStatusServico/NfeStatusServico.asmx</value>
            </setting>
            <setting name="uninfe_wsDFPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://dec.fazenda.df.gov.br/nfe/ServiceCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsDFPConsulta_NfeConsulta" serializeAs="String">
                <value>https://dec.fazenda.df.gov.br/nfe/ServiceConsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsDFPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://dec.fazenda.df.gov.br/nfe/ServiceInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsDFPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://dec.fazenda.df.gov.br/nfe/ServiceRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsDFPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://dec.fazenda.df.gov.br/nfe/ServiceRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsDFPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://dec.fazenda.df.gov.br/nfe/ServiceStatus.asmx</value>
            </setting>
            <setting name="uninfe_wsAMHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/ws/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsAMHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/ws/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsAMHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/ws/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsAMHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/ws/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsAMHConsulta_NfeConsulta" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/ws/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsAMHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://homnfe.sefaz.am.gov.br/ws/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsAMPRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.am.gov.br/ws/services/NfeRecepcao</value>
            </setting>
            <setting name="uninfe_wsAMPRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://nfe.sefaz.am.gov.br/ws/services/NfeRetRecepcao</value>
            </setting>
            <setting name="uninfe_wsAMPCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://nfe.sefaz.am.gov.br/ws/services/NfeCancelamento</value>
            </setting>
            <setting name="uninfe_wsAMPInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://nfe.sefaz.am.gov.br/ws/services/NfeInutilizacao</value>
            </setting>
            <setting name="uninfe_wsAMPConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfe.sefaz.am.gov.br/ws/services/NfeConsulta</value>
            </setting>
            <setting name="uninfe_wsAMPStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://nfe.sefaz.am.gov.br/ws/services/NfeStatusServico</value>
            </setting>
            <setting name="uninfe_wsCEHConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://nfeh.sefaz.ce.gov.br:443/nfe/services/CadConsultaCadastro</value>
            </setting>
            <setting name="uninfe_wsGOHConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://homolog.sefaz.go.gov.br/nfe/services/CadConsultaCadastro</value>
            </setting>
            <setting name="uninfe_wsPEHConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://nfehomolog.sefaz.pe.gov.br/nfe-service/services/CadConsultaCadastro</value>
            </setting>
            <setting name="uninfe_wsROHConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/ws/CadConsultaCadastro</value>
            </setting>
            <setting name="uninfe_wsSPHConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/cadconsultacadastro.asmx</value>
            </setting>
            <setting name="uninfe_wsBAPConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfe/CadConsultaCadastro.asmx</value>
            </setting>
            <setting name="uninfe_wsGOPConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://nfe.sefaz.go.gov.br/nfe/services/CadConsultaCadastro</value>
            </setting>
            <setting name="uninfe_wsPEPConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://nfe.sefaz.pe.gov.br/nfe-service/services/CadConsultaCadastro</value>
            </setting>
            <setting name="uninfe_wsROPConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://ws.nfe.sefin.ro.gov.br:443/wsprod/CadConsultaCadastro</value>
            </setting>
            <setting name="uninfe_wsRSPConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://sef.sefaz.rs.gov.br/ws/CadConsultaCadastro/CadConsultaCadastro.asmx</value>
            </setting>
            <setting name="uninfe_wsSPPConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/cadconsultacadastro.asmx</value>
            </setting>
            <setting name="uninfe_wsCEPConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://nfe.sefaz.ce.gov.br:443/nfe/services/CadConsultaCadastro</value>
            </setting>
            <setting name="uninfe_wsDFHConsulta_NfeConsulta" serializeAs="String">
                <value>https://homolog.nfe.fazenda.df.gov.br/nfe/ServiceConsulta.asmx</value>
            </setting>
            <setting name="uninfe_wsDFHCancelamento_NfeCancelamento" serializeAs="String">
                <value>https://homolog.nfe.fazenda.df.gov.br/nfe/ServiceCancelamento.asmx</value>
            </setting>
            <setting name="uninfe_wsDFHConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://homolog.nfe.fazenda.df.gov.br/nfe/ServiceConsultaCadastro.asmx</value>
            </setting>
            <setting name="uninfe_wsDFHInutilizacao_NfeInutilizacao" serializeAs="String">
                <value>https://homolog.nfe.fazenda.df.gov.br/nfe/ServiceInutilizacao.asmx</value>
            </setting>
            <setting name="uninfe_wsDFHRecepcao_NfeRecepcao" serializeAs="String">
                <value>https://homolog.nfe.fazenda.df.gov.br/nfe/ServiceRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsDFHRetRecepcao_NfeRetRecepcao" serializeAs="String">
                <value>https://homolog.nfe.fazenda.df.gov.br/nfe/ServiceRetRecepcao.asmx</value>
            </setting>
            <setting name="uninfe_wsDFHStatusServico_NfeStatusServico" serializeAs="String">
                <value>https://homolog.nfe.fazenda.df.gov.br/nfe/ServiceStatus.asmx</value>
            </setting>
            <setting name="uninfe_wsDFPConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://dec.fazenda.df.gov.br/nfe/ServiceConsultaCadastro.asmx</value>
            </setting>
            <setting name="uninfe_wsMGPConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe/services/CadConsultaCadastro</value>
            </setting>
            <setting name="uninfe_wsMGHConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe/services/CadConsultaCadastro</value>
            </setting>
        </uninfe.Properties.Settings>
    </applicationSettings>
</configuration>